body {
	max-width: 1024px;
	background: url("../images/topography.png");
	margin: 0px auto;
	display: flex;
	box-sizing: border-box;
	font-family: 'Chau Philomene One', sans-serif;
	line-height: 1.0;
}

h1 {
	font-size: 3vw;
	margin: 2vh;
}
h3#dir {
	font-size: 2.1vw;
	font-family: 'Chau Philomene One', sans-serif;
	text-align: left;
}
h1, h2, h3, h4 {
	font-family: 'Shrikhand', cursive;
	margin-bottom: 1vh;
}
h3#p1, h3#p2 {
	font-size: 30px;
	font-weight: 700;
}
img.mysize {
	max-height: 220px;
	max-width: 220px;
}

.mysize-btn {
	height: 50px;
	width: 100px;
	border-radius: 25px;
	font-size: 22px;
	margin: 5px;
}
.mygame {
	display: none;
}
#win{
	font-size: 26px;
	font-weight: 600;
}
h2#status {
	font-size: 30px;
	font-weight: 600;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.player {
	display: none;
}
#player1, #player2 {
	min-width: 100px;
}

p.check {
	font-weight: 600;
	font-size: 20px;
}
#p1check {
	margin-left: 20px;
}

input[type=checkbox] {
 -ms-transform: scale(1.5); /* IE */
 -moz-transform: scale(1.5); /* FF */
 -webkit-transform: scale(1.5); /* Safari and Chrome */
 -o-transform: scale(1.5); /* Opera */
 
}
.check {
	line-height: 2.0;
	background: transparent;
}
button:focus {
	outline: none;
}
#logout {
	display: none;
}
nav {
	margin: 5px 0px 0px 0px auto;
	justify-content: center;
}
.loggedIn, #logout1, #logout2, #signup, #login, #signout, #reset {
	font-size: 1.9vw;
}
#textBtn1, #textBtn2 {
	font-size: 1.5vw;
}
.loggedIn {
	display: none;
}
#logout1 {
	display: none;
}
#logout2 {
	display: none;
}
#textBtn1 {
	display: none;
}
#textBtn2 {
	display: none;
}
div.exception {
	line-height: 1.5;
	background: #ffffb3;
	font-size: 18px;
	font-weight: 700;
	display: none;
}
.myChat {
	background: url("../images/paper-bkgrd.png");
	max-height: 15vh;
	margin: 1vh;
	font-size: 1.5vw;
	overflow: auto;
}
#rules {
	margin: 0px;
	font-size: 2vw;
}
textarea#mytext {
background: #e6f5ff;
font-weight: 600;
font-size: 1.5vw;
margin-bottom: 1vh
}

#text {
	font-weight: 500;
	max-height: 100px;
	margin: 0px auto;
	display: inline;
}
.modal-header, .modal-footer {
	background: #e6f5ff;
}
.modal-title {
	font-size: 2vw;
}
.modal-body {
	margin-left: 4vw;
}
#bottom {
	font-size: 1.8vw;
	z-index: -1;
}
#footer {
	min-height: 27VH;
}